
<!-- Va contenir le code html de la view index. Un fichier erb est un HTML qui peut contenir du ruby -->

<html>
  <head>

  <style type="text/css">
  h1 {color: maroon }
  ></style>


  <title>The Gossip Project</title>
  </head>
  <body>

    <h1>Bravo, tu as trouvé la mine d'or: les potins de THP!</h1>	

    <a href="/gossips/new/"> As-tu un potin à raconter ? Clique ici pour nous le dévoiler ! </a>  <!-- Lien vers la page new_gossip -->

    <p>

         <% gossips.each_with_index do |gossip, index| %> <br/>     <!-- On lance la liste des auteurs et contenus de chaque gossip. -->
         <a href="http://localhost:4567/gossips/<%= index  %>/"> Potin n°  <%=  "#{index}"  %> </a> <br/>   <!-- On met un lien pour rejoindre directement la page de chaque potin -->
         Auteur:   <%= gossip.author %><br/>
         Contenu:  <%= gossip.content %> <br/>
        <% end %>

    </p>


  </body>
</html>