<html>
  <head>
    <title>PAGE POTIN</title>
  </head>
  <body>
 <p> Vous êtes sur la page du potin numéro <%= params['id'] %>. </p>
 <p> L'auteur est : <%= affichage_du_potin.author %>. </p>
 <p> Le contenu est le suivant: <%= affichage_du_potin.content %>  </p>
 <p>Si tu veux revenir à la page d'accueil, <a href="/">clique ici </a>   </p>
</body>

</html>
